

h1 {
	font-family: 'Big Shoulders Display', cursive;
	color:  hsl(0, 0%, 95%);
	padding: 30px 0 ;
	font-size: 39px;
	margin: 0;
}

p {
	color:  hsla(0, 0%, 100%, 0.75);
	font-size: 15px;
	padding-bottom: 30px;
	margin: 0;
}

body {
	font-family: 'Lexend Deca', sans-serif;
	background-color: hsl(0, 0%, 95%);
}

.general-container {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	padding: 0 30px;
	margin: 30px 0;

}

/* BUTTONS */

.button-1, .button-2, .button-3 {
	background-color: hsl(0, 0%, 95%);
	border-radius: 100px;
	padding: 3% 12%;
	border-style: solid;
	border-color: hsl(0, 0%, 95%);
	font-size: 15px;
}

.button-1:hover, .button-2:hover, .button-3:hover {
	background-color: transparent;
	border-color: hsl(0, 0%, 95%);
	color: hsl(0, 0%, 95%);
}

.button-1 {
	color: hsl(31, 77%, 52%);
}

.button-2 {
	color: hsl(184, 100%, 22%);
}

.button-3 {
	color: hsl(179, 100%, 13%);
}

/* BOXES */

.boxes {
	padding: 50px;
}

/* BOX 1 */

#box-1 {
	background-color: hsl(31, 77%, 52%);
	min-width: 300px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* BOX 2 */

#box-2 {
	background-color: hsl(184, 100%, 22%);
	min-width: 300px;
}

/* BOX 3 */

#box-3 {
	background-color: hsl(179, 100%, 13%);
	min-width: 300px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

@media (min-width: 1024px) {

	h1 {
		padding: 30px 0 ;
		font-size: 34px;
	}

	p {
		font-size: 13px;
		padding-bottom: 90px;
	}

	.general-container {
		padding: 0 300px;
		margin: 200px 0;
	}

		/* BOX 1 */

	#box-1 {
		min-width: 150px;
		max-width: 280px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 0;
	}

	/* BOX 2 */

	#box-2 {
		min-width: 150px;
		max-width: 280px;
	}

	/* BOX 3 */

	#box-3 {
		min-width: 150px;
		max-width: 280px;
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
	}

	.button-1, .button-2, .button-3 {
		padding: 5% 15%;
		font-size: 13px;
	}

}

